body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: gray;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 35px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    margin: 20px;
  }
  
  .banner {
    text-align: center;
    margin-bottom: 30px;
  }

  .filmes-em-destaque {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
  }
  
  .filme {
    text-align: center;
    width: 45%;
    margin-bottom: 20px;
  
  }

  .filme img{
    margin-right: 100px;
    width: 300px;
    height: 400px;
    margin-left: 100px;
  }
  
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  